a {
    color: white;
    text-decoration: none;
}

.a:link {
    text-decoration: none;
}

.a:visited {
    text-decoration: none;
}

.a:hover, a:active {
    color: rgb(252, 186, 3);
    text-decoration: none;
    font-weight: 900;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Josefin Slab', serif;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

h2 {
    font-family: 'Josefin Slab', serif;
    color: rgb(255,193,8);
    text-transform: uppercase;
}

.cardlist {
    position: relative; 
    width: 100%;
    padding: 30px;
     
}


.cardlistcontainer {
    white-space: nowrap;
    margin: 40px 0px;
    padding-bottom: 50px;
    padding-left: 40px;
    overflow-y: hidden;   
}


::-webkit-scrollbar {
    width: 8px;
    height: 6px;
    margin-top: 20px;
    margin-right: 50px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 20px rgba(0,0,0,0.3); 
    box-shadow: inset 0 0 20px rgba(0,0,0,0.3); 
    border-radius: 6px;
}
 
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 50px rgb(162, 181, 199); 
    box-shadow: inset 0 0 50px rgb(162, 181, 199); 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
   -webkit-box-shadow: inset 0 0 50px rgb(75, 87, 99);
   box-shadow: inset 0 0 50px rgb(75, 87, 99);
}

.cardlist-item {
    color: black;
    background-color: turquoise;
    width: 150px;
    height: 200px;
    border-radius: 20px;
    overflow: hidden;
    margin-right: 20px;
    display: inline-block;
    cursor: pointer;
    transition: 450ms;
    transform-origin: center;
    position: relative;
}

.cardlist-item:hover ~ .cardlist-item {
    transform: translate3d(100px, 0, 0);
}

.cardlistcontainer:hover .cardlist-item {
    opacity: 0.3;
}

.cardlistcontainer:hover .cardlist-item:hover {
    transform:scale(1.5);
    opacity: 1;
}

.cardlist-itemimg {
    width: 200px;
    height: 250px;
    object-fit: cover;
}
.cardlist-itemdetails {
    background: linear-gradient(to top, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 100%);
    font-size: 10px;
    opacity: 0;
    transition: 450ms opacity;
    padding: 10px 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}
.cardlist-itemdetails:hover {
    opacity: 1;
    color: white;
}

/* */

.vodiapicker{
  display: none; 
}

#a{
  padding-left: 0px;
}

#a img, .btn-select img{
  width: 235px;
}

#a li{
  list-style: none;
  padding-top: 5px;
  padding-bottom: 5px;
}

#a li:hover{
 background-color: #F4F3F3;
}

#a li img{
  margin: 5px;
}

#a li span, .btn-select li span{
  margin-left: 30px;
}

/* item list */

.b{
  display: none;
  width: 100%;
  max-width: 250px;
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 5px;
  
}

.open{
  display: show !important;
}

.btn-select{
  margin-top: 10px;
  width: 100%;
  max-width: 250px;
  height: 250px;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #ccc;
 
}
.btn-select li{
  list-style: none;
  float: left;
  padding-bottom: 0px;
}

.btn-select:hover li{
  margin-left: 0px;
}

.btn-select:hover{
  background-color: #F4F3F3;
  border: 1px solid transparent;
  box-shadow: inset 0 0px 0px 1px #ccc;
  
  
}

.btn-select:focus{
   outline:none;
}

.lang-select{
  margin-left: 50px;
}

